# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "ISO/TC 211 Geographic information/Geomatics: Ontologies repository site"
author: "ISO/TC 211"
email: open.source@ribose.com
description: >- # this means to ignore newlines until "baseurl:"
  XML schemas for ISO/TC 211 Geographic information/Geomatics
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://schemas.isotc211.org" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
github_username:  ISO-TC211

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-asciidoc

source: build_source
include:
  - build_source

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - build_source
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
